<%- include('header') %>
  <h1>Startsida</h1>
  <p>Välkommen till Farstaglittrets bokklubb!</p>
  <p>Vi träffas första torsdagen i månaden kl. 19.00 på det lokala stammishaket och snackar om månadens bok.</p>

 

  <%- include('footer') %>